# IDE & Editors
.idea/
*.iml
.vscode/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Python / Caches
__pycache__/
*.pyc

# Jekyll / Generated Site Pages
_site/
.jekyll-cache/
.jekyll-metadata
docs/questions/
docs/ru/questions/
docs/uk/questions/

